*{
	margin:0;
	padding:0;
	box-sizing:content-box;
	text-decoration: none;
	list-style: none;
}
body{
	
	font-family: 'Borel', cursive;
	background-color:#d0efff;
}
#all {
	padding:20px;
}

div.inside{
	background-color:#0082e6;
	border:5px dotted white;
	width:200px;
	height:200px;
	float:left;
	padding:20px;
	margin:10px;  >>>>>>>

}
nav{
	background-color: #0082e6;
	height:75px;
	width:100%;
}
label.logo{
	color:white;
	margin-top: 0px;
	font-size: 40px;
	padding:0 100px;
	font-weight: bold;
}
nav ul{
	float:right;
	margin-top:25px;
	margin-right: 35px;
}
nav ul li{
	display:inline-block;
	margin-right: 10px;
}
li a{
	color:white;
}
#logo{
	height:75px;
	width:75px;
}
footer{
	background-color: #0082e6;
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;
}

footer a{
	color:white;
	margin-left: 25px;
	position :relative;
	top:10px;
}
@media (max-width: 767px){
	<img src="jumbotron.jpg" alt="airplane photo" height="200" width="400">
}
#jumbotron{
	width:100%;
	height:300px;
	margin:0;
}
.container{
	margin:50px;
	text-align: center;
}